#!/bin/bash

dirPathLocal=$(cd `dirname $0`; pwd)
fileNameConfigSourceUserConfig=Preferences.sublime-settings
filePathConfigSourceUserConfig=${dirPathLocal}/${fileNameConfigSourceUserConfig}.${rNameUser}
dirPathConfigSource=${dirPathLocal}/sublime-snippet/
if [[ -f "$filePathConfigSourceUserConfig" ]]&&[[ -d "$rDirPathUserHome" ]]; then
        dirPathConfigTraget=${rDirPathUserHome}/.config/sublime-text-3/Packages/User/

        ln -sf $filePathConfigSourceUserConfig ${dirPathConfigTraget}/${fileNameConfigSourceUserConfig}
        ls $dirPathConfigSource | while read file
        do
           ln -sf ${dirPathConfigSource}/${file} ${dirPathConfigTraget}/${file}
        done
fi