#!/bin/bash
if [[ ! -z "$rDirPathXbashConfig" ]]&&[[ -d "$rDirPathXbashConfig" ]]; then
    fileNameConfigSourceUserConfig=Preferences.sublime-settings
    filePathConfigSourceUserConfig=${rDirPathXbashConfig}/other/sublime_text/${fileNameConfigSourceUserConfig}
    dirPathConfigSource=${rDirPathXbashConfig}/other/sublime_text/sublime-snippet/
    if [[ ! -z "$rDirPathUserHome" ]]&&[[ -d "$rDirPathUserHome" ]]; then
            dirPathConfigTraget=${rDirPathUserHome}/.config/sublime-text-3/Packages/User/

            ln -sf $filePathConfigSourceUserConfig ${dirPathConfigTraget}/${fileNameConfigSourceUserConfig}
            ls $dirPathConfigSource | while read file
            do
               ln -sf ${dirPathConfigSource}/${file} ${dirPathConfigTraget}/${file}
            done
    fi
fi



#基本思路
#example相关config放在根目录
#user目录下只有对应系统用户的config，只有example的config[往往也是最全的]
#user独立配置就有独立文件，非特殊但必须则建立对example的软连接
#user config 控制在独立的分支
#从规范上，user更新config，可能情况下请更新对应的example config