[Desktop Entry]
Encoding=UTF-8
Name=AndroidStudio
Comment=Java IDE
Exec=androidStudio
Icon=/home/wds_work/tools/android-studio/2022.1.1.20/bin/studio.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Development;
