[Desktop Entry]
Encoding=UTF-8
Name=Motrix
Comment=byte torrent download tool
Exec= motrix %F
Icon=/home/wds_work/xconfig/ubuntu/desktop/motrix/ic_motrix.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;
